{% extends "pages/base.html" %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-9">
            <h1>Khanh "Dewy" Pham</h1>
            <hr>
            <section>
               <h3><i class="glyphicon glyphicon-user"></i> Profile</h3>
               <p>
                   <ul>
                        <li>
                            Base SAS, Data mining certified
                        </li>
                        <li>
                            Motivated, team-work oriented data analysis professional with relevant experience in SAS,Python, and Tableau which helps drive big business decisions.
                            Actively looking for a job/ an intership in Spring 2019.
                        </li>
                   </ul>
               </p>
            </section>
            <hr>
            <section>
               <h3><i class="glyphicon glyphicon-education"></i> Education</h3>
                   <span>Master of Science in International Studies focus on Business,</span>
                   <p>Oklahoma State Univeristy, Stillwater-OK</p>
                   <p><span class="tab">January 2017 - December 2018  GPA: 3.73</span></p>
                   <hr>
                    <span>Bachelor of Science in Management Information Systems,</span>
                   <p>Oklahoma State Univeristy, Stillwater-OK</p>
                   <p style="Align:left">August 2012 - December 2016 <span class="tab">GPA: 3.08</span></p>
            </section>
                <hr>
            <section>
               <h3><i class="glyphicon glyphicon-briefcase"></i> Professional Experience</h3>

               <span>Data/Tech/WEb Graduate Research Assistant at OSU International Students & Scholars, Stillwater, OK</span>
               <p>January 2017 - December 2018</p>
                    <ul>
                        <li>Perform Data Analysis on confidential Academic, Insurance, Personal, Immigration data per semester</li>
                        <li>Use SAS/Python to generate weekly to manager on keeping track international student's status.</li>
                        <li>Make International students stastic reports.</li>
                        <li>Produce an international Open Door report manually to Insitute of International Education(granted by Bureau of Educational and Cultureal Affirs at U.S. Department of State).</li>
                        <li>Perform updates and changes for maintaining official websites using Drupal/ WEb content management system.</li>
                    </ul>
               <hr>
               <span>Data/Tech Student Worker at OSU International Student & Scholars, Stillwater,OK</span>
                <p>June 2016 - December 2016</p>
                    <ul>
                        <li>Assiting staff to register incoming students each semester.</li>
                        <li>Making new international students's files.</li>
                        <li>Filling student documents.</li>
                        <li>Set up computers, phone, printers as staff IT support.</li>
                        <li>Coordinate with manager when transferring offices.</li>
                    </ul>
            </section>
                <hr>

                <h3><i class="glyphicon glyphicon-link"></i> Extracurricular Activites</h3>
                    <ul>
                        <li>SAS Analystics Experience Conference (Washington, DC)-2017.</li>
                        <li>OSU Health Data Shootout Top 8/40 Comptetitor(CHSI-OSU) - 2016.</li>
                        <li>Stillwater Tennis Association Member, 2016 - 2017.</li>
                        <li>OSU ISAC Information Security Assurance Club Member, 2014-2016 OSU</li>
                        <li>FRC's soccer champion, 2012</li>
                        <li>Vietnamese Student Association OSU football fundraisers,2012-2014</li>
                        <li>Club O+ Donor of Oklahoma Blood Institute, 2012-present</li>
                    </ul>
            </section>
      </div>
        <div class="col-sm-3">
            <br>
            <br>
            <br>
           <h3><i class="fa fa-info"></i> Contact</h3>
               <p>
                   <span><i class="glyphicon glyphicon-home"></i></span> 102 N. University Pl.<br>
                   <span class="tab1">Apt.3, Stillwater, OK</span><br>
                   <span class="tab1">United States</span><br>
                   <span><i class="glyphicon glyphicon-phone"></i></span> 405-933-8099<br>
                   <span><i class="glyphicon glyphicon-envelope"></i></span> khanh.pham@okstate.edu<br>
               </p>
               <hr>
            <h3><i class ="fa fa-cogs"></i> Skill</h3>
                <p>Analytical & BI Tools:SAS, Python, Tableau, R
               <div class="progress">
                    <div class="progress-bar" style="width:90%">90%</div>
                </div>
                </p>
                <p>Programing Languages:Python, Javascript, C#
                <div class="progress">
                    <div class="progress-bar" style="width:80%">80%</div>
                </div>
                </p>
                <p>Database skills: SQL, Microsoft SQL Server
                <div class="progress">
                    <div class="progress-bar" style="width:80%">80%</div>
                </div>
                </p>
        </div>
    </div>

{% endblock %}
